In [1]:
#dataframe basics

import pandas as pd

#dictionary to dataframe
d1 = {'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], 'Temperature': [32,35,28,24,32,31]}

df2 = pd.DataFrame(d1)
print(df2)

        day  Temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [2]:
df = pd.read_csv('weather_data.csv')
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
rows, column = df.shape #return a tuple of rows and column
print(rows)
print(column)

6
4

In [4]:
print(df.head())
print(df.head(3)) #print first 3 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [5]:
print(df.tail())
print(df.tail(2)) # print last two rows

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny
        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
#datafram slicing

print(df[2:5]) #print rows from 2 to 4
print()
print(df[::2]) #print rows from 0 to end with step 2

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain
2  1/3/2017           28          2  Snow
4  1/5/2017           32          4  Rain

In [7]:
df.columns #print columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [8]:
df.day #print individual columns by their name

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
print(df[['event', 'day']])

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [11]:
print(df['temperature'].max())

35

In [12]:
print("describe(): ")
print(df.describe())
print()
print("info()")
print(df.info())

describe():
       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      object
 1   temperature  6 non-null      int64
 2   windspeed    6 non-null      int64
 3   event        6 non-null      object
dtypes: int64(2), object(2)
memory usage: 324.0+ bytes
None

In [13]:
#conditional selection of data

print(df[df['temperature'] >=31])

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [14]:
# print the day, event and temperature where temparature is maximum

print(df[['day','event','temperature']][df['temperature']== df['temperature'].max()])

        day  event  temperature
1  1/2/2017  Sunny           35

In [15]:
# Aggregate functions
print("sum= ",df['temperature'].sum())
print("mean= ",df['temperature'].mean())
print("max= ",df['temperature'].max())
print("max= ",df['temperature'].max())
print("min= ",df['temperature'].min())
print("min= ",df['temperature'].min())
print("count= ",df['temperature'].count())
print("Standard Deviation= ",df['temperature'].std())

sum=  182
mean=  30.333333333333332
max=  35
max=  35
min=  24
min=  24
count=  6
Standard Deviation=  3.8297084310253524

In [16]:
df2 = df.copy()
print(df2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [17]:
df2 = pd.Series([1,2,3]).array
print(df2)

<NumpyExtensionArray>
[1, 2, 3]
Length: 3, dtype: int64

## Pandas Documentation
<a href="https://pandas.pydata.org/docs/reference/index.html#api" target="_blank">Click here </a>

In [18]:
#set index

# df.set_index('day') 
# this will return a new object without changing the current object
# to change the current object use inplace=True
df.set_index('day', inplace=True)
print(df)

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [19]:
df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [20]:
df.reset_index('day', inplace=True)
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [21]:
df.set_index('windspeed', inplace=True)

In [22]:
print(df)

                day  temperature  event
windspeed
6          1/1/2017           32   Rain
7          1/2/2017           35  Sunny
2          1/3/2017           28   Snow
7          1/4/2017           24   Snow
4          1/5/2017           32   Rain
2          1/6/2017           31  Sunny

In [29]:
print(df.iloc[0]) # 1st row data
print(df.iloc[3]) # 4th row data
print(df.iloc[5]) # 6th row data

day            1/1/2017
temperature          32
event              Rain
Name: 6, dtype: object
day            1/4/2017
temperature          24
event              Snow
Name: 7, dtype: object
day            1/6/2017
temperature          31
event             Sunny
Name: 2, dtype: object